.notSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pageSetting {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mid {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
